* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

header {
  display: flex;
  align-items: center;           
  justify-content: space-around;
  background-color: #4e2a84;
  padding: 40px 0px;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

header a {
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
}

header .brand {
  font-size: 5rem;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 1.5rem;
}

header nav ul li a {
  font-size: 1.5rem;
  transition: all 0.5s;
}

header nav ul li a.active {
  color: #ff0e83;

}

header nav ul li:hover a {
  color: #ff0e83;
}

#carousel {
  background-image: url(./../images/b3.jpg);
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7rem;
}

#carousel .carousel__content {
  text-align: center;
  color: white;
}

#carousel .carousel__content h1 {
  font-size: 5rem;
}

#carousel .carousel__content p {
  font-size: 1.5rem;
  margin: 1rem 0;
  letter-spacing: 2px;
  color: #e0e0e0;
}

#carousel .carousel__content button {
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  background-color: #ff0e83;
  border: 1px solid white;
  padding: 13px 32px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.5s;
}

#carousel .carousel__content button:hover {
  color: black;
  background-color:white;
  border-color: #ff0e83;
  cursor: pointer;
}

#intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#intro .intro__item h1 {
  font-size: 2rem;
  color: white;
}

#intro .intro__item p {
  font-size: 1.5rem;
  margin: 15px;
  color: #c1c1c1;
}

#intro .intro__item {
  text-align: center;
  display: flex;
  align-items: center;
}

#intro .tradition {
  background-color: #4e2a84;
}

#intro .image__1 {
  grid-column: 2 / span 2;
}

#intro img {
  width: 100%;
  height: 100%;
}

#intro .creativity {
  background-color: #ff0e83;
}

#intro .b4u {
  background-color: #ed6498;
  grid-column: 1 / span 2;
}

#intro .quality {
  background-color: #836eaa;
}

#intro .tasty {
  background-color: #4e2a84;
}

#intro .image__2 {
  grid-column: 3 / span 2;
}

#count {
  display: flex;
  justify-content: space-around;
  padding: 5rem 0;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#count h1 {
  font-size: 2rem;
  font-weight: bold;
}

#count p {
  font-size: 3rem;
  color: #4e2a84;
  margin: 2rem;
}

#service {
  background-image: url(./../images/s1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#service h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 3rem 0;
  text-transform: uppercase;
}

#service .service__content {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 60%;
  margin: auto;
  padding: 0 0 5rem 0;
}

#service .service__content .service__item {
  padding: 0 2rem;
}

#service .service__content .service__item h3 {
  font-size: 2rem;
  font-weight: 500;
  padding: 1.5rem 0;
}

#service .service__content .service__item p {
  padding: 0 0 1.5rem 0;
}


#service .service__content .service__item i {
  width: 8rem;
  height: 8rem;
  border: 1px solid #4e2a84;
  border-radius: 50%;
  font-size: 5rem;
  color: #4e2a84;
  background-color: white;
  line-height: 8rem
}

#service .service__content .service__item i:hover {
  color: #ff0e83;
  transition: all 0.5s;
}

#service .service__content .service__item button {
  font-size: 1rem;
  color: white;
  background-color: #ff0e83;
  border: 1px solid white;
  padding: 5px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.5s;
}

#gallery h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  margin: 4rem 0;
}

#gallery .gallery__content {
  display: grid;
  padding: 0 1rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

#gallery .gallery__item {
  position: relative;
}

#gallery .gallery__item .text {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  width: 100%;
  height: 100%;
  background-color: #0000002b;
  padding: 3rem;
  color: white;
}

#gallery .gallery__item .text p {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  transform: translateY(30px);
  opacity: 0;
}

#gallery .gallery__item:hover .text p {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}

#gallery .gallery__item .text span {
  font-size: 2rem;
  font-weight: 200;
}

#gallery .gallery__item .text h2 {
  text-transform: uppercase;
  font-size: 2rem;
  transform: translateY(15px);
}

#gallery .gallery__item:hover .text h2 {
  transform: translateY(0);
  transition: all 0.5s;
}

#gallery .gallery__item .text h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  margin-top: 1.5rem;
  transform: translateY(50px);
  opacity: 0;
}

#gallery .gallery__item:hover .text h2::after {
  transform: translateY(0);
  opacity: 1;
  transition: all 0.5s;
}

#gallery .gallery__item img {
  width: 100%;
  height: 100%;
}

#gallery .gallery__content .item__1 {
  grid-column: 1 / span 2;
}

#gallery .gallery__content .item__6 {
  grid-column: 3 / span 2;
}

#bake__team {
  background-color: #4e2a84;
  padding: 2rem 0;
  margin-top: 5rem;
}

#bake__team h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
}

#bake__team .team__content {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  justify-content: space-around;
  padding: 2rem 0;
}

#bake__team .team__content .team__item {
  position: relative;
  margin: 2rem 0;
}

#bake__team .team__content .team__item img {
  width: 100%;
  height: 100%;
}

#bake__team .team__item .item__content {
  position: absolute;
  background-color: #ff0e83;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

#bake__team .team__item .item__content h2 {
  font-size: 2rem;
  color: white;
}

#bake__team .team__item .item__content h3 {
  font-size: 1.5rem;
  color: white;
}

#bake__team .team__item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000c0;
  padding: 10rem 3rem;
  opacity: 0;
  transition: all 1s;
}

#bake__team .team__item .overlay .text h2 {
  color: #ff0e83;
}

#bake__team .team__item:hover .overlay {
  opacity: 1;
}

#bake__team .team__item:hover .item__content {
  opacity: 0;
}

#bake__team .team__item .overlay ul {
  list-style: none;
}

#bake__team .team__item .overlay ul li {
  display: inline;
}

#bake__team .team__item .overlay ul li i {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border: 1px solid white;
  text-align: center;
  font-size: 2rem;
}

#bake__team .team__item .overlay a {
  color: white;
}

#bake__team .team__item .overlay .text {
  color: white;
}

#bake__team .team__item .overlay .text h2 {
  font-size: 2rem;
  padding: 0.5rem 0;
}

#bake__team .team__item .overlay .text h3 {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

#bake__team .team__item .overlay .text p {
  padding: 1rem 0;
}

#testimonial {
  background-image: url(./../images/cc1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
}


#testimonial h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color: white;
}

#testimonial .testimonial__content {
  width: 60%;
  margin: 3rem auto;
  text-align: center;
  border: 5px solid #ff0e83;
  background-color: #ffffff6b;
  padding: 2rem;
}

#testimonial .testimonial__content .testimonial__item {
  margin: 2rem 0;
}

#testimonial .testimonial__content .testimonial__item p {
  font-size: 1.5rem;
  color: #212529;
}

#testimonial .testimonial__content .testimonial__item i {
  color:#2cbeff;
  font-size: 2.5rem;
}

#testimonial .testimonial__content .testimonial__item h3 {
  color:white;
  font-size: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
}


#contact h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  padding: 3rem 0;
}

#contact .contact__content {
  width: 60%;
  margin: 0 auto;
}

#contact .contact__content .row {
  display: flex;
  margin: 1rem;
}

#contact .contact__content .row .col-6 {
  width: 50%;
  padding: 0 1rem;
}

#contact .contact__content .form-control {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  padding: 1rem;
}

#contact .contact__content .row .col-12 {
  width: 100%;
  padding: 0 1rem;
}

#contact .contact__content .row .col-12 textarea {
  height: 18rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn-pink {
  background-color: #ff0e83;
}

.btn:hover {
  background-color: black;
  color: white;
}

.map {
  margin: 3rem 0;
}

.map iframe {
  width: 100%;
}

.map .map__bottom {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 3rem;
}

.map .map__bottom i {
  color: #4e2a84;
  font-size: 3rem;
}

.map .map__bottom p {
  font-size: 2rem;
  padding: 1.5rem 0 0 0;
}

.map .map__bottom p a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
}

.map .map__bottom p:hover a  {
  color: #007bff;
}

footer {
  background-color: black;
}

footer .footer__content {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: auto;
}

footer .footer__content .footer__item {
  width: 25%;
  padding: 2rem 2rem 2rem 0;
}

footer .footer__content h3 {
  color:#ff0e83;
  font-size: 2rem;
  padding-bottom: 1rem;
}

footer .footer__content .about__us p {
  color:white;
  font-size: 1.5rem;
}

footer .footer__content .about__us ul {
  list-style: none;
  padding-top: 1rem;
}

footer .footer__content .about__us ul li {
  display: inline;
}

footer .footer__content .about__us ul li i {
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid white;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  margin: 0 0.5rem;
}

footer .footer__content .about__us ul li:hover i {
  color: #ff0e83;
  border-color: #ff0e83;
  transition: all 0.5s;
}

footer .footer__content .working__time ul {
  list-style: none;
}

footer .footer__content .working__time ul li {
  color: #fff;
  border-bottom: 1px dotted;
  padding: 0px 0px 7px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

footer .footer__content .working__time ul li span {
  float: right;
  font-size: 1.5rem;
}

footer .footer__content .twitter__us p {
  color: #fff;
  font-size: 1.5rem;
}

footer .footer__content .subscribe__us p {
  color: #fff;
  font-size: 1.5rem;
}

footer .footer__content .subscribe__us h3 {
  text-transform: uppercase;
}

footer .footer__content .subscribe__us input {
  height: 3rem;
  border: none;
  border-radius: 3px;
  width: 15rem;
  padding: 1rem;
}

footer .footer__content .subscribe__us button {
  background-color: #ff0e83;
  color: black;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 3px;
  width: 7rem;
  font-weight: bold;
  letter-spacing: 2px;
}

footer .footer__content .subscribe__us button:hover {
  background-color: white;
  transition: all 0.5s;
}

footer .footer__content .subscribe__us p {
  padding-top: 1rem;
}

footer .footer__bottom {
  padding-bottom: 2rem;
}

footer .footer__bottom p,
footer .footer__bottom i,
footer .footer__bottom a {
  color: white;
  text-align: center;
  font-size: 1.5rem;
}

footer .footer__bottom a {
  color: #ff0e83;
  text-decoration: none;
}

footer .footer__bottom a:hover {
  color: white;
}

